<ion-content padding>
  <div id="container">
    <ion-slides pager="true" [options]="slideOps">
      <ion-slide *ngFor="let slide of slides">
        <ion-icon name="close" (click)="finish()"></ion-icon>
        <img src="{{slide.imageSrc}}" alt="{{slide.imgAlt}}" />
        <h1>{{slide.title}}</h1>
        <h2>{{slide.subtitle}}</h2>
        <p>
          {{slide.description}}
        </p>
        <!-- ionicons.com tenemos los iconos de ionic -->
        <!-- con solo poner el nombre ya está -->
        <ion-icon name="{{slide.icon}}"></ion-icon>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
